<div class="card">
  <div class="card-body">
    <h5 class="card-title">Orders List</h5>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Out Date</th>
            <th scope="col">Truck Plate</th>
            <th scope="col">Comment</th>
            <th scope="col">Destiny</th>
            <th scope="col">Origin</th>
            <th scope="col">Status</th>
            <th scope="col" *ngIf="salida == 'Review' || entrada == 'Shiped'">
              Details
            </th>
            <th scope="col" *ngIf="salida == 'Review' || entrada == 'Shiped'">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <!--<tr *ngFor="let order of orderdata | filtro: salida | filtro: entrada   | filtro: filterOrder | paginate: { itemsPerPage: 10, currentPage: p}">-->
          <tr *ngFor="let order of orders; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ order?.out_date | date : "MM/dd/yyyy" }}</td>
            <td>{{ order?.truck_plate }}</td>
            <td>{{ order?.comment }}</td>
            <td>{{ order?.destiny }}</td>
            <td>{{ order?.origin }}</td>

            <td>
              <span class=" badge  {{ order.state }}">{{ order.state }}</span>
            </td>
            <td *ngIf="entrada == 'Shiped'">
              <button
                class="btn btn-secondary btn-sm"
                type="button"
                data-bs-toggle="modal"
                [routerLink]="['/home', 'in-orders', order?.id]"
                data-bs-target="#exampleModal"
              >
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </td>
            <td *ngIf="salida == 'Review'">
              <button
                class="btn btn-secondary btn-sm"
                data-bs-toggle="modal"
                [routerLink]="['/home', 'out-orders', order?.id]"
                data-bs-target="#exampleModal"
              >
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </td>
            <td *ngIf="entrada == 'Shiped'">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                data-bs-toggle="modal"
                [routerLink]="['/home', 'in-orders', order?.id]"
                data-bs-target="#Modal"
              >
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
            </td>
            <td *ngIf="salida == 'Review'">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                data-bs-toggle="modal"
                [routerLink]="['/home', 'out-orders', order?.id]"
                data-bs-target="#Modal"
              >
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Details</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <table class="table table-borderless datatable">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Material</th>
              <th scope="col">Location</th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let orders of orderdetails; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ orders?.material }}</td>
              <td>{{ orders?.location }}</td>
              <td>{{ orders?.quantity }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal para ar  -->
<div
  class="modal fade"
  id="Modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <!--modal para Shipeds-->
      <div class="modal-body" *ngIf="entrada == 'Shiped'">
        <select
          class="form-select"
          [(ngModel)]="opcionSeleccionado"
          (change)="capturar()"
        >
          <option value="0">---</option>
          <option *ngFor="let dato of optionsin">
            {{ dato }}
          </option>
        </select>

        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Comment:</label>
            <textarea
              class="form-control"
              id="message-text"
              [(ngModel)]="this.comment"
              [ngModelOptions]="{ standalone: true }"
            ></textarea>
          </div>
        </form>

        <!-- Prueba para ver la opción seleccionado -->
        <p [hidden]="opcionSeleccionado == '0'">Selected: {{ verSeleccion }}</p>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="updateValues(ruta, ids, comment)"
            [disabled]="ids == 0 || ids == null || ids == undefined"
          >
            Save
          </button>
        </div>
      </div>

      <!--modal para revision-->
      <div class="modal-body" *ngIf="salida == 'Review'">
        <select
          class="form-select"
          [(ngModel)]="opcionSeleccionado"
          (change)="capturar()"
        >
          <option value="0">---</option>
          <option *ngFor="let data of optionsout">
            {{ data }}
          </option>
        </select>

        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Comment:</label>
            <textarea
              class="form-control"
              id="message-text"
              [(ngModel)]="this.comment"
              [ngModelOptions]="{ standalone: true }"
            ></textarea>
          </div>
        </form>

        <p [hidden]="opcionSeleccionado == '0'">Selected: {{ verSeleccion }}</p>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="updateValues(ruta, ids, comment)"
            [disabled]="ids == 0 || ids == null || ids == undefined"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modalSpinner" data-backdrop="static" data-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <span class="loader"></span>
      </div>
  </div>
</div>
