<section class="container my-3">
    <div class="card shadow">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card-body">
                    <h2 class="card-title">Pedido # {{ order?.id }}</h2>
                    <h3 class="card-subtitle mb-3">{{ order?.state }}</h3>
                    <p class="card-text m-0">Fecha de Salida: {{ order?.out_date | date: 'MM/dd/yyyy' }}</p>
                    <p class="card-text m-0">Almacén de Origen: {{ order?.origin }}</p>
                    <p class="card-text m-0">Almacén de Destino: {{ order?.destiny }}</p>
                    <p class="card-text m-0">Comentario: {{ order?.comment }}</p>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="d-flex justify-content-end mt-3" *ngIf="order">
                    <button class="btn btn-sm btn-primary me-2" [disabled]="orderDetailsDeleted.length === 0 && newOrderDetails.length === 0 && !anyUpdate" (click)="saveDetails()">Guardar</button>
                    <button class="btn btn-sm btn-secondary me-3" data-bs-toggle="modal" [attr.data-bs-target]="'#modal' + order.originId">Nuevo</button>
                </div>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Material</th>
                            <th>Localización</th>
                            <th>Stock</th>
                            <th>Cantidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="details">
                        <tr *ngFor="let detail of orderDetails" [attr.data-detail-id]="detail.id" [attr.data-detail-ml-id]="detail.materialLocationId" [attr.data-detail-updated]="false">
                            <td>{{ detail.material }}</td>
                            <td>{{ detail.location }}</td>
                            <td id="stock">{{ detail.stock }}</td>
                            <td>
                                <input id="quantity" class="form-control form-control-sm" style="width: 6em;" type="number" min="1" [value]="detail.quantity" (input)="getQuantity($event)">
                            </td>
                            <td>
                                <button class="btn btn-sm btn-secondary" (click)="deleteDetail($event)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- popup -->
<app-popup *ngIf="order" [order]="order" [orderDetails]="orderDetails" (newDetails)="addNewDetails($event)"></app-popup>
