<div class="card">
    <div class="card-body">
        <h1 class="card-title">Employee list</h1>
        <p></p>
        <!-- Bordered Table -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">dni</th>
                    <th scope="col">email</th>
                    <th scope="col">cell phone</th>
                    <th scope="col">birthday</th>
                    <th scope="col">rol </th>
                    <th scope="col">warehouse </th>
                    <th>actions</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let employee of arrEmployee">
                    <th scope="row"></th>
                    <td>{{employee.name}} {{employee.first_last_name}}</td>
                    <td>{{employee.dni}}</td>
                    <td>{{employee.email}} </td>
                    <td>{{employee.cell_phone}}</td>
                    <td>{{employee.birth_date}}</td>
                    <td>{{employee.rol.name}}</td>
                    <td>{{employee.warehouse.description}}</td>
                    <td> 
                        <button class="btn btn-danger me-2 btn-sm" (click)="deleteEmployee(employee.id)"><i class="fa-solid fa-trash"></i></button>

                        <button class="btn btn-dark btn-sm" [routerLink]="['/home','updateEmployee', employee.id]"><i class="fa-solid fa-rotate-right"></i></button>
                    </td>
                </tr>

                
            </tbody>
        </table>
        <!-- End Bordered Table -->

    </div>
</div>