<div class="card shadow">
    <div class="card-body">
        <h5 class="card-title">Pedido # {{ myOrder.id }}</h5>
        <h6 class="card-subtitle mb-2">{{ myOrder.state }}</h6>
        <p class="card-text m-0">Fecha de salida: {{ myOrder.out_date | date: 'MM/dd/yyyy' }}</p>
        <p class="card-text m-0">Almacén de Origen: {{ myOrder.origin }}</p>
        <p class="card-text m-0">Almacén de Destino: {{ myOrder.destiny }}</p>
    </div>
    <div class="card-footer">
        <button class="btn btn-secondary me-2" [routerLink]="['/home', 'updateorder', myOrder.id]">Editar</button>
        <button class="btn btn-secondary me-2" (click)="deleteOrder()">Eliminar</button>
        <button class="btn btn-secondary" [routerLink]="['/home', 'order', myOrder.id]">Ver detalle</button>
    </div>
</div>
