<div class="card">
    <div class="card-body">
        <h1 class="card-title">{{type}} warehouse</h1>
        <!-- General Form Elements -->
        <form [formGroup]="userForm" (ngSubmit)="getDataForm()">

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="description">Description</label>
                <p class="error" *ngIf="checkControl('name', 'required')">Campo requerido</p>
                <p class="error" *ngIf="checkControl('name', 'minlength')">La longitud del camo tiene que ser al menos de 3 caracteres</p>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="description" formControlName="description">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="address">Address</label>
                <p class="error" *ngIf="checkControl('first_last_name', 'required')">Campo requerido</p>
                <p class="error" *ngIf="checkControl('first_last_name', 'minlength')">La longitud del camo tiene que ser al menos de 5 caracteres</p>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="address" formControlName="address">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Submit</label>
                <div class="col-sm-10">
                    <input type="submit" [value]="type" class="btn btn-primary" [disabled]="!userForm.valid">
                </div>
            </div>

        </form>
    
    </div>
</div>
