<div class="card">
  <div class="card-body">
    <h1 class="card-title">User</h1>
    <button class="btn btn-dark me-2" [routerLink]="['/home', 'viewEmployee']">
      <i class="fa-solid fa-circle-left"></i>
    </button>
    <p></p>
    <!-- Bordered Table -->
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Description</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let warehouse of arrWarehouse; let indice = index">
          <th scope="row">{{ indice + 1 }}</th>
          <td>{{ warehouse.description }}</td>
          <td>{{ warehouse.address }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
