<div class="card">
  <div class="card-body">
    <h1 class="card-title">User</h1>
    <button
      class="btn btn-dark mb-2 btn-sm"
      [routerLink]="['/home', 'userslist']"
    >
      <i class="fa-solid fa-hand-point-left"></i> <br />
      Back
    </button>
    <!-- Bordered Table -->
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let warehouse of arrWarehouse">
          <td>{{ warehouse.description }}</td>
          <td>{{ warehouse.address }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
