<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="d-flex justify-content-center py-4">
              <a
                href="index.html"
                class="logo d-flex align-items-center w-auto"
              >
                <img src="../../../assets/img/logo.png" alt="" />
                <span class="d-none d-lg-block">Gestión de Almacén</span>
              </a>
            </div>
            <!-- End Logo -->

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">
                    Recover your password
                  </h5>
                  <p class="text-center small">
                    Enter your username & new password
                  </p>
                </div>

                <form
                  #changeForm="ngForm"
                  (ngSubmit)="changePassword(changeForm)"
                  class="row g-3 needs-validation"
                  novalidate
                >
                  <div class="col-12">
                    <label for="yourUsername" class="form-label"
                      >Username</label
                    >
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend"
                        >@</span
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="yourUsername"
                        required
                        placeholder="name@example.com"
                        name="email"
                        ngModel
                      />
                      <div class="invalid-feedback">
                        Please enter your username.
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="yourDni" class="form-label">DNI</label>
                    <input
                      type="dni"
                      name="dni"
                      class="form-control"
                      id="yourDni"
                      required
                      placeholder="DNI"
                      ngModel
                    />
                    <div class="invalid-feedback">Please enter your DNI.</div>
                  </div>
                  <div class="col-12">
                    <label for="yourPassword" class="form-label"
                      >New Password</label
                    >
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      id="yourPassword"
                      required
                      placeholder="Password"
                      ngModel
                    />
                    <div class="invalid-feedback">
                      Please enter your new password.
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourPassword" class="form-label"
                      >Repeat your Password</label
                    >
                    <input
                      type="password"
                      name="new_password"
                      class="form-control"
                      id="yourPassword"
                      required
                      placeholder="Password"
                      ngModel
                    />
                    <div class="invalid-feedback">
                      Please enter your new password again.
                    </div>
                  </div>

                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">
                      Send
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="credits">Designed by <a>TFMGroupA</a></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<!-- End #main -->

<a class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>
