<h1>🕴️ Login</h1>
<section class="container m-3">
  <form #loginForm="ngForm" (ngSubmit)="getLogin(loginForm)">
        <div>
            <label for="email" class="form-label">Email</label>
            <input class="form-control" type="text" id="email" name="email" ngModel>
        </div>
        <div>
            <label for="password" class="form-label">Password</label>
            <input class="form-control" type="password" id="password" name="password" ngModel>
        </div>
        <button class="btn btn-danger m-2" type="submit">Sig in</button>
    </form>
</section>
