

<section class="container mt-3">

  <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header text-center">NUEVOS EMPLEADOS</div>
    <div class="card-body text-center">
      <button class="btn lg" [routerLink]="['/newEmployee']"><i class="fa-solid fa-users"></i>
      </button>
    </div>
  </div>

  <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header text-center">ALMACENES</div>
    <div class="card-body text-center">
      <button class="btn lg"><i class="fa-solid fa-store"></i>
      </button>
    </div>
    
  </div>

</section>