<div class="card">
    <div class="card-body">
        <h1 class="card-title">{{type}} empleado</h1>

        <!-- General Form Elements -->
        <form [formGroup]="userForm" (ngSubmit)="getDataForm()">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="name">Name</label>
                <p class="error" *ngIf="checkControl('name', 'required')">Campo requerido</p>
                <p class="error" *ngIf="checkControl('name', 'minlength')">La longitud del camo tiene que ser al menos de 3 caracteres</p>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="name" formControlName="name">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="first_last_name">First last name</label>
                <p class="error" *ngIf="checkControl('first_last_name', 'required')">Campo requerido</p>
                <p class="error" *ngIf="checkControl('first_last_name', 'minlength')">La longitud del camo tiene que ser al menos de 5 caracteres</p>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="first_last_name" formControlName="first_last_name">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="second_last_name">Second last name</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="second_last_name" formControlName="second_last_name">
                </div>
            </div>

            <div class="row mb-3">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <p class="error" *ngIf="checkControl('email', 'required')">Campo requerido</p>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="email" formControlName="email">
                </div>
            </div>

            <div class="row mb-3">
                <label for="dni" class="col-sm-2 col-form-label">DNI</label>
                <p class="error" *ngIf="checkControl('dni', 'required')">Campo requerido</p>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="image" formControlName="dni">
                </div>
            </div>

            <div class="row mb-3">
                <label for="cell_phone" class="col-sm-2 col-form-label">Cell Phone</label>
                <p class="error" *ngIf="checkControl('cell_phone', 'required')">Campo requerido</p>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="image" formControlName="cell_phone">
                </div>
            </div>

            <div class="row mb-3">
                <label for="birth_date" class="col-sm-2 col-form-label">Birth Date</label>
                <p class="error" *ngIf="checkControl('birth_date', 'required')">Campo requerido</p>
                <div class="col-sm-10">
                    <input input class="form-control" type="date" id="image" formControlName="birth_date">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Rol</label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example" (change)="seleccionarRol($event)">
                    <option selected>---</option>
                    <option [value]="rol.id" *ngFor="let rol of arrRol"
                    [selected]="rol.id === rolSelected" >{{rol.name}}</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Warehouse</label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example" (change)="seleccionarAlmacen($event)" [value]="warehouseSelected">
                    <option selected>---</option>
                    <option [value]="warehouse.id" *ngFor="let warehouse of arrWarehouse"
                    [selected]="warehouse.id === warehouseSelected" >{{warehouse.description}}</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Submit</label>
                <div class="col-sm-10">
                    <input type="submit" [value]="type" class="btn btn-primary" [disabled]="!userForm.valid">
                </div>
            </div>
        </form>
    </div>
</div>
